{% extends 'base/pagebase.html' %}

{% block title %} Software Gurukulam
{% endblock %}

{% block content %}
		<div class="header">
  			<a href="#default" class="logo">Software Gurukulam</a>
		</div>
	
		<div style="padding-left:20px">
			<h3>Login</h3>
				<form method="post">
		  			{% csrf_token %}
		  			{{ form.as_p }}
		  			<button type="submit">Login</button>
				</form><br />
		  		<a href="{% url 'signup' %}">Register here for new user!</a><br />
		  		<a href="{% url 'password_reset' %}">Forgot your password? </a>
	  	</div>
{% endblock %}